body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:950px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:270px;
  top:10px;
  width:360px;
  height:630px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:630px;
}
#u1 {
  position:absolute;
  left:2px;
  top:307px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:290px;
  top:52px;
  width:320px;
  height:568px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u3 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:290px;
  top:31px;
  width:320px;
  height:22px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:22px;
}
#u5 {
  position:absolute;
  left:2px;
  top:3px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:292px;
  top:32px;
  width:319px;
  height:21px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:21px;
}
#u7 {
  position:absolute;
  left:2px;
  top:2px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:290px;
  top:77px;
  width:320px;
  height:10px;
}
#u8_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u9 {
  position:absolute;
  left:291px;
  top:186px;
  width:315px;
  height:28px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:28px;
}
#u10 {
  position:absolute;
  left:2px;
  top:6px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:290px;
  top:110px;
  width:320px;
  height:10px;
}
#u11_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u12 {
  position:absolute;
  left:292px;
  top:85px;
  width:315px;
  height:28px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:28px;
}
#u13 {
  position:absolute;
  left:2px;
  top:6px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:290px;
  top:145px;
  width:320px;
  height:10px;
}
#u14_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u15 {
  position:absolute;
  left:294px;
  top:155px;
  width:315px;
  height:28px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:28px;
}
#u16 {
  position:absolute;
  left:2px;
  top:6px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:290px;
  top:210px;
  width:320px;
  height:10px;
}
#u17_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u18 {
  position:absolute;
  left:290px;
  top:179px;
  width:320px;
  height:10px;
}
#u18_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u19 {
  position:absolute;
  left:586px;
  top:87px;
  width:24px;
  height:24px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u20 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:300px;
  top:86px;
  width:60px;
  height:25px;
}
#u21_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u22 {
  position:absolute;
  left:300px;
  top:153px;
  width:90px;
  height:25px;
}
#u22_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u23 {
  position:absolute;
  left:586px;
  top:156px;
  width:24px;
  height:24px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u24 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:293px;
  top:120px;
  width:315px;
  height:28px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:28px;
}
#u26 {
  position:absolute;
  left:2px;
  top:6px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:299px;
  top:120px;
  width:50px;
  height:25px;
}
#u27_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u28 {
  position:absolute;
  left:586px;
  top:122px;
  width:24px;
  height:24px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u29 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:630px;
  top:113px;
  width:320px;
  height:53px;
  opacity:0;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:53px;
}
#u31 {
  position:absolute;
  left:2px;
  top:18px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:300px;
  top:188px;
  width:90px;
  height:25px;
}
#u32_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u33 {
  position:absolute;
  left:586px;
  top:190px;
  width:24px;
  height:24px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u34 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:300px;
  top:280px;
  width:300px;
  height:30px;
}
#u35_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#339900;
  text-align:center;
}
#u36 {
  position:absolute;
  left:300px;
  top:53px;
  width:24px;
  height:24px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u37 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
