* { -webkit-text-size-adjust: none; -moz-text-size-adjust: none; -ms-text-size-adjust: none; -webkit-tap-highlight-color: transparent; padding: 0; margin: 0; text-decoration: none; }
*:not(input, textarea) { -webkit-touch-callout: inherit; -webkit-user-select: auto; }
body { width: 100%; font-family: Hiragino Sans GB, Arial, Helvetica, "microsoft yahei", sans-serif; font-size: 14px; color: #444; -webkit-touch-callout: inherit; -webkit-user-select: auto; -webkit-box-align: stretch; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); -webkit-box-orient: vertical; background-color: #fff; }
body, html { height: 100%; }
a { color: #878787; text-decoration: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
a:hover { text-decoration: none; }
img { vertical-align: middle; }
button, input, select, textarea { font-size: 100%; margin: 0; padding: 0; outline: none; }
textarea{ resize: none; outline: none; -webkit-appearance: none; }
ul, ol, li { list-style: none; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; font-size: 100%; }
em, i { font-style: normal; }
::-webkit-scrollbar{ width: 0;}
::-webkit-scrollbar-thumb{width: 0;}
.loadingdiv { display: none; position: absolute; background: rgba(0, 0, 0, .5); left: 0px; top: 0px; bottom: 0px; right: 0px; text-align: center; z-index: 99; }
.loadingdiv img { height: 100%; }
.div-main { background: #F1F1F1; min-height: 100%; width: 100%; max-width: 640px; min-width: 320px; margin: 0 auto; position: relative; }
.fl { float: left; }
.fr { float: right; }
.clearfix:after, .clearfix:before { content: ""; display: table; clear: both; }
.clearfix:after { clear: both; }
.bl { border-left: 1px solid #ECECEC; }
.bt { border-top: 1px solid #ECECEC; }
.br { border-right: 1px solid #ECECEC; }
.bb { border-bottom: 1px solid #ECECEC; }
.top-title { height: 44px; line-height: 44px; background: #3497da; }
.top-title .lefta { font-size: 18px; color: #fff; padding-left: 40px; position: relative; }
.top-title .lefta:after { content: ""; display: block; border-top: 2px solid #fff; border-left: 2px solid #fff; width: 13px; height: 13px; position: absolute; top: 50%; transform: rotate(-45deg); -webkit-transform: rotate(-45deg); left: 20px; margin-top: -8px; }
.u-top { position: relative; overflow: hidden; height: 100px; }
.u-top .bg { width: 100%; position: relative; z-index: 0; }
.u-top-icon1 { position: absolute; top: 11px; right: 68px; }
.u-top-icon1 a, .u-top-icon2 a { display: block; }
.u-top-icon1 img, .u-top-icon2 img { width: 22px; }
.u-top-icon1 i { position: absolute; top: -8px; right: -12px; font-size: 10px; color: #fff; background: #f54804; border: 1px solid #fff; padding: 1px 4px; border-radius: 9999px; }
.u-top-icon2 { position: absolute; top: 10px; right: 15px; }
.u-top-img { position: absolute; top: 48%; left: 50%; transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); text-align: center; }
.u-top-img span { width: 9.3rem; height: 9.3rem; display: inline-block; background: rgba(255, 255, 255, .3); border-radius: 9999px; position: relative; }
.u-top-img span em { display: block; width: 8.5rem; height: 8.5rem; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); border-radius: 9999px; background: #fff; overflow: hidden; }
.u-top-img span em img { width: 8.5rem; height: 8.5rem; border-radius: 9999px; }
.u-top-img p { margin-top: 8%; }
.u-top-img p em { display: inline-block; width: 100%; font-size: 16px; color: #fff; line-height: 16px; margin-bottom: 5px; }
.u-top-img p a { color: #FFFFFF; }
.u-top-img p i { color: #fff; font-size: 13px; line-height: 13px; position: relative; top: 1px; padding-right: 8px; border-right: 1px solid #fff; margin-right: 6px; height: 15px; display: inline-block; padding-top: 2px; box-sizing: border-box; }
.u-top-img .z { background: #ff5307; color: #ffffff; font-size: 12px; padding: 2px 5px; border-radius: 10px; box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, .2); }
.u-top-left { position: absolute; top: 20px; left: 15px; overflow: hidden; }
.u-top-left .img { display: block; float: left; height: 60px; background: rgba(255, 255, 255, 0.2); width: 60px; border-radius: 999px; }
.u-top-left .img em { height: 54px; background: rgba(255, 255, 255, 1); width: 54px; border-radius: 999px; display: block; margin: 0 auto; margin-top: 3px; }
.u-top-left .img em img { width: 100%; border-radius: 999px; }
.u-top-left .login { display: block; margin-left: 70px; }
.u-top-left .login p { font-size: 13px; color: #fff; line-height: 18px; margin-top: 3px; }
.u-top-left .login a { background: #ff5307; color: #fff; font-size: 14px; display: inline-block; padding: 0px 5px; border-radius: 99px; }
.u-top-left .reg { display: block; margin-left: 70px; text-align: center; color: #fff; }
.u-top-left .reg p { font-size: 14px; color: #fff; line-height: 14px; margin-top: 5px; }
.u-top-left .reg em { background: #ff5307; color: #fff; font-size: 12px; display: inline-block; padding: 0px 5px; border-radius: 99px; margin: 3px 0px; }
.u-top-left .reg a { color: #fff; font-size: 13px; }
.u-like { height: 40px; line-height: 40px; padding: 0px 15px; margin-top: 10px; background: #f7f7f7; }
.u-like h2 { color: #ababab; font-size: 13px; display: inline-block; }
.u-like a { float: right; }
.u-like a img { width: 17px; }
.u-like1 { overflow: hidden; }
.u-like1 ul li { width: 50%; float: left; }
.u-like1 ul li span { display: block; border-right: 1px solid #ECECEC; border-bottom: 1px solid #ECECEC; box-sizing: border-box; }
.u-like1 ul li span img { width: 100%; height: auto; }
.u-like1 ul li:nth-of-type(2) span { width: 50%; float: left; }
.u-like1 ul li span a { display: block; }
.u-like1 ul li:nth-of-type(2) span:nth-of-type(2), .u-like1 ul li:nth-of-type(2) span:nth-of-type(4) { border-right: 1px solid #F7F7F7; }
.u-mid { margin-top: 1rem; }
.u-mid ul { }
.u-mid ul li { width: 33.333%; float: left; box-sizing: border-box; background: #fff; text-align: center; position: relative; }
.u-mid ul li:active { background: #ECECEC; }
.u-mid ul li i { position: absolute; right: 0; top: 0; }
.u-mid ul li i img { width: 4rem; }
.u-mid ul li a { width: 100%; height: 6rem; display: table; }
.u-mid ul li span { display: table-cell; vertical-align: middle; }
.u-mid ul li span img { width: 40px; }
.u-mid ul li span p { font-size: 12px; color: #262626; margin-top: 5px; }
.u-bot { margin-top: 1rem; }
.u-bot ul li { background: #fff; margin-bottom: 1rem; height: 40px; line-height: 40px; padding: 0px 15px; overflow: hidden; }
.u-bot ul li:active { background: #F5F5F5; }
.u-bot ul li a { display: block; width: 100%; height: 100%; }
.u-bot ul li h5 { display: inline-block; font-size: 13px; color: #262626; }
.btnmore { position: relative; float: right; font-size: 11px; color: #a8a8a8; padding-right: 13px; }
.btnmore:after { content: ""; display: block; width: 10px; height: 10px; border-left: 1px solid #ECECEC; border-top: 1px solid #ECECEC; position: absolute; top: 14px; right: 0; transform: rotate(135deg); -webkit-transform: rotate(135deg); }
.u-tipslist { }
.u-tipslist1 { }
.u-tipslist1 ul { }
.u-tipslist1 ul li { height: 50px; line-height: 50px; background: #f2f2f2; padding: 0px 20px; }
.u-tipslist1 ul li:active { background: #E2E2E2; }
.u-tipslist1 ul li a { display: block; }
.u-tipslist1 ul li h4 { color: #e43506; display: inline-block; }
.u-tipslist1 ul li .gray { color: #858585; }
.u-tipslist1 .btnmore:after { top: 18px; }
.u-activelist { }
.u-activelist1 { }
.u-activelist1 ul li { padding: 15px; background: #F9F9F9; }
.u-activelist1 ul li a { }
.u-activelist1 ul li img { width: 85px; }
.u-activelist1 ul li span { margin-left: 90px; display: block; }
.u-activelist1 ul li span h3 { font-size: 14px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; color: #131313; }
.u-activelist1 ul li span p { margin-top: 10px; }
.u-activelist1 ul li span p, .u-activelist1 ul li span i { color: #6a6a6a; font-size: 12px; line-height: 12px; }
.u-useredit-top { position: relative; }
.u-useredit-top .editbg { width: 100%; position: relative; z-index: 0; }
.u-useredit-topimg { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); overflow: hidden; }
.u-useredit-topimg span, .u-useredit-topimg span img, .u-useredit-topimg span input { display: block; width: 8rem; height: 8rem; border-radius: 9999px; }
.u-useredit-topimg p { font-size: 14px; color: #FFFFFF; margin-top: 5%; text-align: center; }
.u-useredit-topimg span input { opacity: 0; position: absolute; top: 0; left: 0; }
.u-useredit-mid { margin-top: 1rem; }
.u-useredit-mid  ul { }
.u-useredit-mid  ul li { background: #f2f2f2; height: 40px; line-height: 40px; padding: 0px 20px; }
.u-useredit-mid  ul li label { color: #262626; display: block; width: 50px; float: left; }
.u-useredit-mid  ul li input { font-size: 14px; height: 14px; color: #262626; border: none; background: none; padding: 13px 0px; display: block; margin-left: 50px; margin-right: 70px; }
.u-useredit-mid  ul li .btnmore { }
.u-useredit-mid  ul li .btnmore:after { }
.u-useredit-btn { width: 90%; margin: 20px auto; position: relative; }
.u-useredit-btn input { width: 100%; height: 40px; border: none; background: #3497da; border-radius: 3px; color: #fff; }
.jf-bm2 { padding: 10px 20px; background: #f2f2f2; position: relative; }
.jf-bm2 h2 { font-size: 15px; line-height: 16px;  white-space: nowrap; overflow: hidden; text-overflow: ellipsis; color: #131313; }
.jf-bm2 p { font-size: 12px; color: #6a6a6a; margin-top: 4px;     word-wrap: break-word;    margin-bottom: 5px;max-height: 48px;overflow: hidden; }
.jf-bm2 em { font-size: 12px; color: #6a6a6a; line-height: 12px; }
.jf-bm2 i { font-size: 12px; background: #53b646; color: #fff; padding: 1px 3px; position: absolute; right: 20px; top: 12px; }
.jf-bm3 { margin-top: 10px; border-top: 1px solid #ECECEC; }
.jf-bm3-1 { background: #f2f2f2; padding: 0px 20px; border-bottom: 1px solid #ECECEC; }
.jf-bm3-1 label { color: #131313; font-size: 15px; line-height: 15px; position: relative; padding-left: 10px; }
.jf-bm3-1 label i { display: inline-block; position: absolute; top: 4px; left: 0px; color: #e43506; }
.jf-bm3-1 input { background: none; border: none; font-size: 15px; padding: 22px 0px; }
.jf-bm3 .error { margin: 20px; margin-top: 5px; color: #c2c2c2; }
.jf-bm3 .error i { color: #e43506; }
.jf-bm3 .btn { width: 90%; margin: 0 auto; height: 50px; border-radius: 3px; overflow: hidden; position: relative; }
.jf-bm3 .btn input { background: #3497da; border: none; width: 100%; height: 100%; color: #fff; font-size: 15px; }
.jf-bm3 .btn input:active { background: #34729C; }

/*pop*/
.cal-mask { position: fixed; left: 0; top: 0; right: 0; bottom: 0; background: rgba(0, 0, 0, .4); z-index: -10; opacity: 0; }
.cal-mask-con { width: 260px; box-sizing: border-box; position: absolute; left: 50%; top: -50%; transition: all .3s linear; -webkit-transition: all .3s linear; background: #fff; border-radius: 5px; transform: translateX(-50%) translateY(-50%); -webkit-transform: translateX(-50%) translateY(-50%); padding: 20px; text-align: center; }
.cal-mask-con .img { width: 70px; display: inline-block; }
.cal-mask-con .img img { width: 100%; }
.cal-mask-con p { margin-top: 20px; line-height: 25px; }

/*city-service*/
@media only screen and (min-width:200px) and (max-width:340px) {
	.city-stips a, .city-service1 ul  a { font-size: 12px; }
}
.city-stips { background: #f7f7f7; margin-top: 10px; height: 40px; line-height: 40px; padding: 0px 15px; }
.city-stips em { display: block; margin-left: 30px; margin-right: 20px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.city-stips a, .city-service1 ul  a { display: inline-block; width: 100%; height: 100%; color: #262626; }
.city-stips span { width: 24px; display: inline-block; margin-right: 10px; float: left; }
.city-stips span img { width: 100%; }
.city-service1 { background: #F7F7F7; margin-top: -1px; overflow: hidden; }
.city-service1 h2 { padding: 0px 15px; line-height: 30px; }
.city-service1 ul { margin-right: -2px; }
.city-service1 ul li { float: left; width: 50%; }
.city-service1-1 { width: 100%; line-height: 50px; padding-left: 15px; box-sizing: border-box; position: relative; }
.city-service1-1 i { display: inline-block; width: 24px; margin-right: 3px; }
.city-service1-1 i img { width: 100%; }
.city-service1-1 em { vertical-align: sub; }
.city-service1-1:after { content: ""; display: block; width: 0px; height: 36px; position: absolute; border-left: 1px solid #ECECEC; right: 0px; top: 50%; transform: translateY(-50%); -webkit-transform: translateY(-50%); }

/*shop*/
.shop-banner1 { position: relative; overflow: hidden; }
.shop-banner1 img { display: block; width: 100% }
.pagination { position: absolute; z-index: 99; bottom: 0.5rem; width: 100%; text-align: center; }
.pagination span { display: inline-block; width: 3rem; height: 0.4rem; margin: 0rem  0.5rem; background: #fff; }
.pagination span.swiper-pagination-bullet-active { background: #3497da; }
.swiper-container { position: relative; z-index: 1; clear: both; overflow: hidden; margin: 0 auto }
.swiper-slide { float: left }
.swiper-wrapper { position: relative; z-index: 1; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box; width: 100%; height: 100%; -webkit-transition-property: -webkit-transform; -moz-transition-property: -moz-transform; -ms-transition-property: -ms-transform; -o-transition-property: -o-transform; transition-property: transform; -webkit-transform-style: preserve-3d; -moz-transform-style: preserve-3d; -ms-transform-style: preserve-3d; transform-style: preserve-3d }
.swiper-slide { position: relative; width: 100%; height: 100%; -webkit-transform-style: preserve-3d; -moz-transform-style: preserve-3d; -ms-transform-style: preserve-3d; transform-style: preserve-3d; -webkit-flex-shrink: 0; -ms-flex: 0 0 auto; flex-shrink: 0 }
.shop-top { background: #3497da; height: 50px; padding: 0px 15px; }
.shop-top .logo { width: 65px; line-height: 50px; }
.shop-top .logo img { width: 100%; }
.shop-top-form { margin-top: 50px; position: relative; z-index: 100; margin-left: -15px; margin-right: -15px; background: rgba(52, 151, 218, .8); overflow: hidden; display: none; }
.shop-top-form form { margin: 5px 15px; border: 1px solid #ECECEC; padding-left: 10px; border-radius: 22px; position: relative; }
.shop-top-form form input[type="text"] { background: none; font-size: 15px; padding: 5px 0px; width: 100%; border: none; }
.shop-top-form form input[type="submit"] { background: url(../images/shop-img6.png) no-repeat; border: none; width: 25px; height: 25px; background-size: 20px; transform: rotate(270deg); -webkit-transform: rotate(270deg); background-position: 2px 0px; position: absolute; top: 1px; right: 3px; z-index: 99; }
.shop-rnav { margin-top: 12px; }
.shop-rnav ul { }
.shop-rnav ul li { display: inline-block; width: 25px; position: relative; margin: 0px 15px; }
.shop-rnav ul li img { width: 100%; }
.shop-rnav ul li:nth-of-type(3) { margin-right: 0; }
.shop-rnav .rnav1 { }
.shop-rnav .rnav2 { }
.shop-rnav .rnav3 { position: relative; margin-right: 0px; }
.shop-rnav .rnav3 i { position: absolute; top: -6px; right: 6px; display: block; background: #f54804; color: #fff; border: 1px solid #fff; padding: 0px 3px; border-radius: 999px; font-size: 12px; }
.shop-rnav .rnav3:after { content: ""; display: block; position: absolute; height: 24px; width: 0px; border-left: 1px solid #76c2f5; border-right: 1px solid #1d557a; top: 50%; margin-top: -12px; left: -16px; }
.shop-mnav { background: #f7f7f7; }
.shop-mnav ul { }
.shop-mnav ul li { float: left; width: 50%; position: relative; border-bottom: 1px solid #ECECEC; box-sizing: border-box; height: 6rem; overflow: hidden; }
.shop-mnav ul li a { display: block; width: 100%; height: 100%; }
.shop-mnav ul li:nth-of-type(1) { border-right: 1px solid #ECECEC; }
.shop-mnav1 { position: absolute; top: 50%; transform: translate(0%, -50%); -webkit-transform: translate(0%, -50%); width: 100%; margin-left: 20%; }
.shop-mnav1 span { display: block; position: relative; }
.shop-mnav1 span i { display: inline-block; width: 2.5rem; margin-right: 3px; }
.shop-mnav1 span i img { width: 100%; }
.shop-mnav1 span em { position: absolute; white-space: nowrap; bottom: -2px; font-size: 1.3rem; color: #262626; }
.shop-mnav1 p { font-size: 1rem; text-align: left; white-space: nowrap; margin-top: 5px; margin-left: 2px; }
.shop-hotnav, .shop-cplist { margin-top: 1rem; background: #f7f7f7; height: 9rem; }
.shop-hotnav .fl, .shop-cplist .fl { background: #ff8807; width: 2.5rem; text-align: center; height: 100%; display: table; box-shadow: 4px 0px 5px 0px rgba(0, 0, 0, .2); }
.shop-hotnav .fl h2, .shop-cplist .fl h2 { font-size: 1.3rem; color: #FFFFFF; display: table-cell; vertical-align: middle; padding: 0rem 0.5rem; }
.shop-hotnavr, .shop-cplistr { margin-left: 2.5rem; overflow: hidden; }
.shop-hotnavr ul { }
.shop-hotnavr ul li { width: 33.33%; float: left; text-align: center; padding: 1.3rem 0rem; }
.shop-hotnavr ul li a { }
.shop-hotnavr .nav { }
.shop-hotnavr .nav span { width: 4.6rem; height: 4.6rem; display: inline-block; background: #FF8807; border-radius: 9999px; position: relative; }
.shop-hotnavr .nav span i { display: inline-block; width: 3.2rem; height: 3.2rem; background: none; vertical-align: middle; box-sizing: border-box; border: 2px solid #fff; border-radius: 999px; font-size: 1.8rem; color: #fff; line-height: 3rem; position: relative; top: 50%; transform: translateY(-50%); -webkit-transform: translateY(-50%); }
.shop-hotnavr .nav p { font-size: 1.1rem; margin-top: 0.5rem; color: #FF8807; }
.shop-hotnavr .c1 span { background: #3497DA; }
.shop-hotnavr .c1 p { color: #3497DA; }
.shop-hotnavr .c2 span { background: #868787; }
.shop-hotnavr .c2 p { color: #868787; max-width: 100; }
.shop-cplist { height: 28rem; }
.shop-cplistr1 { margin: 1.2rem; overflow: hidden; }
.shop-cplistr1 .tit { }
.shop-cplistr1 .tit span { font-size: 1.2rem; }
.shop-cplistr1 .tit span a { }
.shop-cplistrdiv { }
.shop-cplistrdiv ul { width: 28.5rem; overflow: hidden; }
.shop-cplistrdiv ul li { width: 13rem; height: 11rem; float: left; background: #fff; margin-right: 1.0rem; margin-top: 1rem; overflow: hidden; border: 1px solid #ECECEC; box-sizing: border-box; }
.shop-cplistrdiv ul li a { display: inline-block; width: 100%; height: 100%; }
.shop-cpdiv { position: relative; overflow: hidden; height: 100%; }
.shop-cpdiv img { width: 100%; position: absolute; top: 0px; left: 0px; }
.shop-cpdiv span { display: block; background: #FFFFFF; position: absolute; bottom: 0px; left: 0px; width: 100%; margin: 0px 0px; }
.shop-cpdiv span >* { margin-left: 5px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.shop-cpdiv span h3 { font-size: 13px; color: #262626; margin-top: 3px; line-height: 14px; }
.shop-cpdiv span h4 { font-size: 11px; color: #FF8807; line-height: 12px; }
.shop-cpdiv span p { font-size: 9px; color: #A8A8A8; margin-bottom: 2px; }
.shop-cpdiv span i { color: #FFFFFF; position: absolute; bottom: 2px; right: 5px; font-size: 9px; padding: 0px 2px; border-radius: 2px; }
.shop-cpdiv span i.i1, .shop-buyinfo .jf-bm2 i.i1 { background: #3497DA; }
.shop-cpdiv span i.i2, .shop-buyinfo .jf-bm2 i.i2 { background: #f44009; }
.shop-cpdiv span i.i3, .shop-buyinfo .jf-bm2 i.i3 { background: #868787; }
.shop-buyinfo .jf-bm2 h2 { font-size: 13px; }
.shop-buyinfo .jf-bm2 p { font-size: 15px; color: #ea8010; }
.shop-buytxt { background: #f2f2f2; padding: 20px; margin-top: 10px; overflow: hidden; }
.shop-buytxt img { width: 100%; }
.shop-scroll { height: 100%; overflow-y: scroll; }
.shop-scroll:after { content: ""; display: block; height: 68px; }
.shop-foot-buy { position: absolute; left: 0; right: 0; bottom: 0; z-index: 99; }
.shop-foot-buy1 { background: #8E8E8E; }
.shop-foot-buy1 ul { }
.shop-foot-buy1 ul li { }
.shop-foot-buy1 .jf { background: #8e8e8e; padding: 10px 0px 10px 5px; }
.shop-foot-buy1 .jf p { line-height: 24px; color: #FFFFFF; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
.shop-foot-buy1 .car { padding: 0px 4px; line-height: 68px; background: #ea8010; color: #FFFFFF; }
.shop-foot-buy1 .car a { color: #FFFFFF; }
.shop-foot-buy1 .car:active { background: #FF992E; }
.shop-foot-buy1 .dh { background: #3497da; padding: 0px 6px; font-size: 16px; }
.shop-foot-buy1 .dh:active { background: #2B6D9A; }
.shop-buyconfirm-info { padding: 10px 20px; background: #f2f2f2; position: relative; text-align: center; }
.shop-buyconfirm-info h3 { font-size: 13px; }
.shop-buyconfirm-info p { font-size: 15px; color: #ea8010; margin-top: 5px; }
.shop-buyconfirm-btn { height: 68px; }
.shop-buyconfirm-btn .btn { display: block; width: 100%; line-height: 68px; text-align: center; background: #3497DA; font-size: 15px; color: #fff; }
.shop-buycar { background: #f2f2f2; border-top: 1px solid #ECECEC; margin-top: 10px; margin-bottom: 60px; }
.shop-buycar ul { }
.shop-buycar ul li { padding: 10px; border-bottom: 1px solid #ECECEC; }
.shop-buycar ul li a { display: block; width: 100%; height: 100%; }
.shop-buycar1 { }
.shop-buycar1 img { width: 92px; height: 60px; float: left; }
.shop-buycar1 span { display: block; margin-left: 96px; position: relative; }
.shop-buycar1 span h2 { font-size: 11px; color: #181818; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
.shop-buycar1 span h3 { font-size: 13px; color: #ff8807; line-height: 13px; margin: 3px 0px; }
.shop-buycar1 span i { background: #3497da; color: #fff; font-size: 10px; padding: 0px 2px; }
.shop-buycar1 span p { font-size: 10px; color: #a8a8a8; }
.shop-buycar1 span em { color: #a8a8a8; font-size: 13px; position: absolute; right: 0px; bottom: 0px; text-decoration: underline; }
.shop-buycar-tips { }
.shop-buycar-tips .city-stips { margin-top: 0; border: none; }
.shop-buycar-tips ul { overflow: hidden; height: 41px; transition: all .5s linear; -webkit-transition: all .5s linear; }
.shop-buycar-tipsshowmore ul { height: 123px; }
.shop-buycar-tips ul li { border-bottom: 1px solid #ECECEC; }
.shop-buycar-tips .imgbtn { text-align: center; border-bottom: 1px solid #ECECEC; background: #F7F7F7; padding: 8px; }
.shop-buycar-tips .imgbtn img { width: 25px; }
.shop-buycar-tips .imgbtnact img { transform: rotate(180deg); -webkit-transform: rotate(180deg); }
.shop-morecplistrdiv { width: 29rem; margin: 0 auto; overflow: hidden; }
.shop-morecplistrdiv ul { width: 30rem; }
.shop-morecplistrdiv ul li { width: 14rem; margin-right: 1rem; }
.jf-dh-nav { text-align: center; background: #fff; border-bottom: 1px solid #ECECEC; overflow: hidden; }
.jf-dh-nav ul { margin: 20px 20%; border-radius: 20px; border: 1px solid #3497da; overflow: hidden; }
.jf-dh-nav ul a { font-size: 12px; line-height: 26px; height: 26px; width: 50%; display: block; float: left; }
.jf-dh-nav ul a.selected { background: #3497da; color: #fff; }
.jf-dh-list { margin-top: 20px; border-top: 1px solid #ECECEC; }
.jf-dh-list ul { }
.jf-dh-list ul li { background: #fff; border-bottom: 1px solid #ECECEC; overflow: hidden; }
.jf-dh-listcon { margin: 10px 20px; position: relative; }
.jf-dh-listcon img { width: 85px; float: left; }
.jf-dh-listcon span { display: block; }
.jf-dh-listcon span:nth-of-type(1) { margin-left: 90px; }
.jf-dh-listcon span:nth-of-type(1) h2 { font-size: 12px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.jf-dh-listcon span:nth-of-type(1) p { color: #858585; font-size: 10px; line-height: 12px; margin-top: 6px; }
.jf-dh-listcon span:nth-of-type(1) em { font-size: 9px; color: #c2c2c2; line-height: 10px; }
.jf-dh-listcon span:nth-of-type(2) { position: absolute; right: 0px; top: 50%; transform: translateY(-50%); -webkit-transform: translateY(-50%); }
.jf-dh-listcon span:nth-of-type(2) i { font-size: 10px; color: #fff; padding: 1px 2px; }
.jf-dh-listcon span:nth-of-type(2) i.i1 { background: #3497DA; }
.jf-dh-listcon span:nth-of-type(2) i.i2 { background: #858585; }
.jf-dh-listcon span:nth-of-type(2) i.i3 { background: #e43506; }
.jf-dh1-list { margin-top: 10px; }
.jf-dh1-list ul { }
.jf-dh1-list ul li { background: #f2f2f2; border-bottom: 1px solid #ECECEC; padding: 10px 15px 10px 25px; }
.jf-dh1-list1 { position: relative; }
.jf-dh1-list1 span { display: block; }
.jf-dh1-list1 span:nth-of-type(1) { float: left; width: 25px; position: absolute; top: 50%; left: 0; transform: translateY(-50%); -webkit-transform: translateY(-50%); }
.jf-dh1-list1 span:nth-of-type(1) img { width: 100%; }
.jf-dh1-list1 span:nth-of-type(2) { float: right; position: absolute; top: 50%; right: 0; transform: translateY(-50%); -webkit-transform: translateY(-50%); background: #3497DA; color: #fff; font-size: 13px; padding: 1px 4px; border-radius: 2px; }
.jf-dh1-list1 span:nth-of-type(3) { margin-left: 35px; margin-right: 50px; }
.jf-dh1-list1 span:nth-of-type(3) h3 { font-size: 13px; color: #181818; }
.jf-dh1-list1 span:nth-of-type(3) p { font-size: 10px; color: #858585; }
.shop-allnotes { color: #c1c1c1; text-align: center; margin: 10px; }
.jf-signin1 { text-align: center; font-size: 20px; margin: 20% auto 5%; }
.jf-signin2 { text-align: center; position: relative; }
.jf-signin2 img { }
.jf-signin2 span { font-size: 15px; position: absolute; top: 57%; left: 50%; transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); }
.jf-signin2 span i { font-size: 50px; }
.jf-signin3 { text-align: center; margin: 10% auto 15%; }
.jf-signin3  h2 { font-size: 20px; color: #e43506; }
.jf-signin3  p { font-size: 13px; color: #c2c2c2; line-height: 20px; }
.jf-signin4 { border: none; }
.form-horizontal { }
.order-main { margin-top: 20px; }
.order-main h5 { background: #fff; padding: 5px 15px; border-top: 1px solid #E2E2E2; border-bottom: 1px solid #E2E2E2; }
.order-select { margin: 15px; }
.order-select select { width: 100%; height: 30px; border: 1px solid #E2E2E2; }
.order-detail { }
.order-detail table { width: 100%; text-align: center; box-sizing: border-box; padding: 10px; background: #fff; }
.order-detail table thead { }
.order-detail table thead tr { }
.order-detail table thead tr th { }
.order-detail table tbody tr { }
.order-detail table tbody tr td { }
.order-detail-hd { padding: 15px; text-align: right; color: #FF3535; }
.order-detail-hd span { }
.message-box { margin: 15px; }
.message-box textarea { width: 100%; border: 1px solid #E2E2E2; padding: 10px; box-sizing: border-box; }
.message-box input[type="button"] { }
.order-submit { margin-bottom: 20px; width: 90%; margin: 0 auto; display: block; background: #3497DA; border: none; height: 40px; line-height: 40px; color: #fff; font-size: 16px; border-radius: 5px; }
.total_result { position: fixed; bottom: 0; width: 100%; left: 0px; z-index: 99; }
.total_result a { display: block; height: 50px; line-height: 50px; font-size: 16px; background: #ff8807; color: #fff; padding: 0px 10px; }
.totalPrice { height: 50px; margin-right: 87px; text-align: right; padding-right: 10px; background: #3497da; color: #fff; overflow: hidden; }
.totalPrice p { }
.totalPrice>span { margin-top: 6px; display: block; }
.m_block { display: none; background: rgba(0, 0, 0, .5); position: fixed; bottom: 0; left: 0; top: 0; right: 0; z-index: 100; }
.m_content { width: 200px; background: #fff; text-align: center; height: 50px; line-height: 50px; border-bottom: 1px solid #ececec; }
.m_btns { width: 200px; }
.m_ok_2, .m_cancel, .m_ok { display: block; float: left; width: 50%; text-align: center; background: #fff; height: 30px; line-height: 30px; }
.m_cancel { border-right: 1px solid #ececec; box-sizing: border-box; }
.m_block_pos { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); }
.zjf-top { position: relative; }
.zjf-top .bg { }
.zjf-top1 { position: absolute; top: 50%; transform: translateY(-50%); -webkit-transform: translateY(-50%); left: 20px; }
.zjf-top1 span { }
.zjf-top1 span:nth-of-type(1) { float: left; display: block; width: 6.1rem; height: 6.1rem; background: rgba(255, 255, 255, .4); border-radius: 999px; text-align: center; }
.zjf-top1 span:nth-of-type(1) em { display: inline-block; width: 5.5rem; height: 5.5rem; background: #fff; border-radius: 999px; margin-top: 0.3rem; }
.zjf-top1 span:nth-of-type(1) em img { width: 100%; height: 100%; border-radius: 999px; }
.zjf-top1 span:nth-of-type(2) { margin-left: 7rem; height: 6.1rem; display: table; }
.zjf-top1 span:nth-of-type(2) p { font-size: 1.3rem; color: #fff; display: table-cell; vertical-align: middle; line-height: 2rem; }
.zjf-top2 { position: absolute; top: 50%; width: 10rem; height: 3.4rem; right: 1.2rem; transform: translateY(-50%); -webkit-transform: translateY(-50%); }
.zjf-top2 a { display: block; width: 100%; height: 100%; }
.zjf-task { background: #f7f7f7; margin-top: 10px; }
.zjf-task > h3 { font-size: 12px; color: #131313; border-left: 3px solid #FF5307; line-height: 26px; padding-left: 15px; }
.zjf-task ul { }
.zjf-task ul li { }
.zjf-taskdiv { margin: 5px 19px; overflow: hidden; position: relative; }
.zjf-taskdiv a > img { width: 60px; height: 60px; float: left; }
.zjf-taskdiv span:nth-of-type(1) { display: block; margin-left: 70px; margin-right: 60px; }
.zjf-taskdiv span:nth-of-type(1) h3 { font-size: 12px; color: #131313; }
.zjf-taskdiv span:nth-of-type(1) p { font-size: 10px; }
.zjf-taskdiv span:nth-of-type(1) em { font-size: 10px; color: #FF5307; padding-top: 10px; display: inline-block; }
.zjf-taskdiv span:nth-of-type(1) em b { display: inline-block; background: #f9d760; border: 2px solid #ffaa07; font-size: 12px; line-height: 12px; padding: 4px 6px; border-radius: 999px; position: relative; top: -5px; margin: 0px 5px; }
.zjf-taskdiv span:nth-of-type(2) { position: absolute; bottom: 3px; right: 0px; }
.zjf-taskdiv span:nth-of-type(2) i { display: block; color: #fff; padding: 1px 5px; font-size: 12px; }
.zjf-taskdiv span:nth-of-type(2) i.i1 { background: #FF5307; }
.zjf-taskdiv span:nth-of-type(2) i.i2 { background: #969696; }
.more-mask { position: fixed; top: 0; left: 0; bottom: 0; right: 0; z-index: -10; background: rgba(52, 52, 52, 0.5); opacity: 0; }
.more-mask-active { z-index: 99; opacity: 1; }
.act-xx { position: absolute; top: 60px; z-index: 99; background: #fff; left: 15px; right: 15px; margin-bottom: 20px; border-radius: 4px; transition: all .3s linear; -webkit-transition: all .3s linear; opacity: 0; transform: scale(.9); -webkit-transform: scale(.9); visibility: hidden; }
.act-xx-active { opacity: 1; transform: scale(1); visibility: visible; -webkit-transform: scale(1); }
.act-xx-img { position: relative; }
.act-xx-img i { position: absolute; right: 10px; top: 10px; width: 30px; height: 30px; }
.act-xx-img i:before { content: ""; display: block; width: 100%; border-top: 1px solid #000; transform: rotate(45deg); -webkit-transform: rotate(45deg); position: absolute; top: 10px; }
.act-xx-img i:after { content: ""; display: block; width: 100%; border-top: 1px solid #000; transform: rotate(-45deg); -webkit-transform: rotate(-45deg); position: absolute; top: 10px; }
.act-xx-scroll { }
.act-xx-txt { padding: 10px; }
.act-xx-h1 { text-align: center; color: #131313; font-size: 15px; }
.act-xx-txtcon { margin-top: 5px;     word-wrap: break-word; }
.act-xx-txtcon h3 { }
.act-xx-txtcon h4 { margin-top: 5px; }
.act-xx-txtcon p { font-size: 12px; text-indent: 2em; color: #7c7c7c; }
.act-xx-txtcon1 { margin-top: 10px; }
.act-xx-txtcon1 p { font-size: 13px; line-height: 20px; }
.act-xx-txtcon1 p:nth-of-type(1) { }
.act-xx-txtcon1 p:nth-of-type(2) { color: #6a6a6a; }
.act-xx-txtcon1 p:nth-of-type(2) i { color: #53B646; margin-left: 10px; }
.act-xx-txtcon1 p:nth-of-type(3) i, .act-xx-txtcon1 p:nth-of-type(4) i { color: #e82511; }
.act-xx-txtcon3 { text-align: center; color: #7c7c7c; font-size: 12px; padding-top: 20px; }


.vote-form1,.vote-form2{ margin: 0px 10px; }
    .vote-form-inp {padding: 8px 0px;overflow: hidden;}
.vote-form-inp .left-icon {display: block;float: left;width: 30px;height: 30px;text-align: center;line-height: 30px;}
.vote-form-inp .left-icon img { height: 80%; }
.vote-form-inp span {margin-left: 40px;display: block;position: relative;padding: 7px 0px;}
.vote-form-inp .inp { }
.vote-form-inp .inp input {background: none;border: none;font-size: 15px;line-height: 15px;}
.vote-form-inp .inp input::-webkit-input-placeholder { color: #9B9B9B; font-size: 15px; }
.vote-form-inp .select { }
.vote-form-inp .select em, .vote-form-inp .checkbox1 em {color: #9B9B9B;font-size: 15px;line-height: 1rem;}
.vote-form-inp .select select {position: absolute;width: 100%;height: 100%;left: 0;border: none;background: none;opacity: 0;top: 0;}
.vote-form-inp .select i { position: absolute; top: 50%; right: .2rem; transform: translateY(-50%); -webkit-transform: translateY(-50%); }
.vote-form-inp .select i:after { content: ""; display: block; width: 0.5rem; height: .5rem; border-top: 1px solid #333; border-right: 1px solid #333; transform: rotate(45deg); -webkit-transform: rotate(45deg); }
.vote-form-inp .checkbox1 { }
.vote-form-inp .checkbox1 em i {font-size: 12px;color: #FF4A81;}
.vote-form-inp .checkbox2 { }
.vote-form-inp .checkbox2  label{display: inline-block;position: relative;   margin: 3px 0px;margin-right: 10px;}
.vote-form-inp .checkbox2  label input[type="checkbox"]{position: absolute;width: 100%;height: 100%;display: inline-block;opacity: 0;}
.vote-form-inp .checkbox2  label i{background: url(../images/vote-nocheck.png) no-repeat;display: inline-block;width: 16px;height: 16px;background-size: 16px;position: relative;top: 3px;}
.vote-form-inp .checkbox2  label em{color: #ccc;margin-left: 3px;}
.vote-form-inp .checkbox2  label input[type="checkbox"]:checked+i{
    background: url(../images/vote-checked.png) no-repeat;background-size: 16px;
}
.vote-form-inp .checkbox2  label input[type="checkbox"]:checked+i+em{ color: #259AFF;}
.vote-form-btn { width: 80%; margin: 1rem auto; }