body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:630px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:270px;
  top:10px;
  width:360px;
  height:630px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:630px;
}
#u1 {
  position:absolute;
  left:2px;
  top:307px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:290px;
  top:52px;
  width:320px;
  height:568px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u3 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:290px;
  top:31px;
  width:320px;
  height:22px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:22px;
}
#u5 {
  position:absolute;
  left:2px;
  top:3px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:292px;
  top:32px;
  width:319px;
  height:21px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:21px;
}
#u7 {
  position:absolute;
  left:2px;
  top:2px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:290px;
  top:77px;
  width:320px;
  height:10px;
}
#u8_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u9 {
  position:absolute;
  left:290px;
  top:130px;
  width:320px;
  height:10px;
}
#u9_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u10 {
  position:absolute;
  left:290px;
  top:166px;
  width:320px;
  height:10px;
}
#u10_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u11 {
  position:absolute;
  left:290px;
  top:233px;
  width:320px;
  height:10px;
}
#u11_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u12 {
  position:absolute;
  left:290px;
  top:200px;
  width:320px;
  height:10px;
}
#u12_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u13 {
  position:absolute;
  left:290px;
  top:268px;
  width:320px;
  height:10px;
}
#u13_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u14 {
  position:absolute;
  left:290px;
  top:300px;
  width:320px;
  height:10px;
}
#u14_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u15 {
  position:absolute;
  left:526px;
  top:85px;
  width:50px;
  height:50px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u16 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:586px;
  top:99px;
  width:24px;
  height:24px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u18 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:294px;
  top:176px;
  width:315px;
  height:28px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:28px;
}
#u20 {
  position:absolute;
  left:2px;
  top:6px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:300px;
  top:98px;
  width:50px;
  height:25px;
}
#u21_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u22 {
  position:absolute;
  left:300px;
  top:174px;
  width:50px;
  height:25px;
}
#u22_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u23 {
  position:absolute;
  left:586px;
  top:177px;
  width:24px;
  height:24px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u24 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:550px;
  top:175px;
  width:40px;
  height:25px;
}
#u25_input {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u26 {
  position:absolute;
  left:293px;
  top:138px;
  width:315px;
  height:28px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:28px;
}
#u27 {
  position:absolute;
  left:2px;
  top:6px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:299px;
  top:141px;
  width:50px;
  height:25px;
}
#u28_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u29 {
  position:absolute;
  left:586px;
  top:143px;
  width:24px;
  height:24px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u30 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:510px;
  top:141px;
  width:80px;
  height:25px;
}
#u31_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u32 {
  position:absolute;
  left:290px;
  top:85px;
  width:320px;
  height:53px;
  opacity:0;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:53px;
}
#u33 {
  position:absolute;
  left:2px;
  top:18px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:300px;
  top:209px;
  width:50px;
  height:25px;
}
#u34_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u35 {
  position:absolute;
  left:539px;
  top:208px;
  width:56px;
  height:25px;
}
#u35_input {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u36 {
  position:absolute;
  left:586px;
  top:211px;
  width:24px;
  height:24px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u37 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:299px;
  top:277px;
  width:50px;
  height:25px;
}
#u38_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u39 {
  position:absolute;
  left:517px;
  top:276px;
  width:66px;
  height:25px;
}
#u39_input {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u40 {
  position:absolute;
  left:585px;
  top:278px;
  width:24px;
  height:24px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u41 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:300px;
  top:244px;
  width:50px;
  height:25px;
}
#u42_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u43 {
  position:absolute;
  left:539px;
  top:243px;
  width:56px;
  height:25px;
}
#u43_input {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u44 {
  position:absolute;
  left:586px;
  top:246px;
  width:24px;
  height:24px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u45 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:300px;
  top:53px;
  width:24px;
  height:24px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u47 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
